h2{
    color: aqua;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 30px;
}
td,th{
    border: 2px solid red;
    padding: 10px;
    text-align: center;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    color: darkblue;
}