body{
    font-family: "Times New Roman";
    background-color: lightyellow;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 400px;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.form-group{
    margin-bottom: 15px;

}
label{
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
}
button{
    width: 100%;
    padding: 10px;
    background: #007bff;
    border-radius: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
}
button:hover{
    background-color: deeppink;
}